body{
    max-width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    
}

.heading-box{
    align-items: center;
    display: inline-flex;
    width: 100vw;
    height: 10vh;
    /* background-color: bisque; */
    position: fixed;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    /* z-index: -1; */
}
.logo img{
    margin-top: 8px;
    padding: 46px ;
    width: 75px;
    height: 100%;
}
/* .types{
    margin-left: 20px;
} */

.types a{
    padding: 0 17px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 13.5px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 650;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.new{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    color: #ff3f6c;
}
.search-navigation{
    display: flex;
}

.search-logo{
    padding: 11px 11px;
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #F5F5F6;
}
.input-search{
    padding: 8px 8px;
    font-size: 14px;
    height: 26px;
    border: none;
    width: 450px;
    background-color: #F5F5F6;
}
.login-navigation{
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    margin-left: 35px;
    font-weight: 700;
}
.profile-box{
    text-align: center;
    width: fit-content;   
}
#login-boxes{
    padding: 10px;
}

.profile-logo{
    width: 18px;
    height: 18px;

}
/* .main{
    width: 200px;
    height: 100px;
} */
.footer-main{
    /* width: 1550px; */
    margin-left: 15%;  
}
.footer-items{
    width: 1080px;
    /* height: 656px; */
}
.footer-all-boxes{
    display: flex;
}
.margin{
    margin-left: 50px;
}
.font-weight-size{
    font-size: 12px;
    font-weight: 700;
}
.online-shoping-box a{
    color:#777981;
    text-decoration: none;
    display: flex; 
    font-size: 15px;
    padding: 0px 0px 5px;  
}
.customer-policies-box a{
    color:#777981;
    text-decoration: none;
    display: flex; 
    font-size: 15px;
    padding: 0px 0px 5px;
}
.download-link a{
    text-decoration: none;
}
.android-down-link{
    /* margin-right: 10px; */
    height: 42px;
}
.ios-down-link{
    height: 42px;
}
.social-media-link-box a{
    text-decoration: none;
    padding: 0px 5px;
}
.social-media-icon{
  margin-top: 10px;
    height: 20px;
}
.orginal-return-box img{
    width: 48px;
    height: 40px;
}
.original-box{
    /* width: 100px; */
    display: flex;
    align-items: center;
    font-size: 16px;
    
}
.orginal-return-box{
    width: 250px;
    /* background-color: aqua; */

}
.return-box{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 16px;
}
.useful-link a{
    color:#777981;
    text-decoration: none;
    display: flex;
    font-size: 15px;
    padding: 0px 0px 5px;
}
.popular-searches-box hr{
    border: 1px;
    height: 1px;
    background-color: #eaeaec;
    /* box-sizing: content-box; */
    /* height: 0; */
    /* overflow: visible; */
}
.popular-searches{
    position: absolute;
    margin-top: -15px;
    background: #fafbfc;
    padding-right: 10px;
    color: #282c3f;
    font-size: 12px;
    font-weight: 700;
}
.popular-search-link>a{
    text-decoration: none;
    color: #696b79;
    font-size: 14.5px;
    line-height: 25px;
}
.popular-search-link>a::after{
    content: "|";
    margin-left: 3px;
}
.popular-search-link{
    margin-top: 25px;
}
.last-footer{
    display: flex;
    width: 100%;
    margin-top: 40px;
}
.flipkart-company a{
    margin-left: 194px;
    text-decoration: none;
    color: #696B79;
}
.contact-us a{
    text-decoration: none;
    color: #526CD0;
}
.copy-right{
    color: #696B79;
    margin-left: 194px;
}
#black-color
{
    color: #111;
    font-weight: 600;
}
