    .Add-Bag{
        background-color: aquamarine;
        border: none;
        padding: 5px 20px;
        border-radius: 9px;
    }
    .Wishlist{
        padding: 5px 45px;
        border: 2px solid black;
        border-radius: 9px;
    }
    .Sale-Item{
        background-color: aquamarine;
        border: none;
        padding: 5px 20px;
        border-radius: 9px;
    }