#calculator{
    width: 300px;
    /* height: 500px; */
    border: 1.5px solid rgb(202, 202, 202);
    border-radius: 5px;
}

#display
{
    margin: 10px;
    width: 91%;
    height: 60px;
    font-size: 30px;
}
.Button{
    width: 70px;
    height: 60px;
    margin-left: 10px;
    font-size: 20px;
    
}
.Button-Container{
   display: flex;
   justify-content: center;
   margin-top: 10px;
}
#Last-Two-Button{
   display: flex;
   justify-content: center;
   margin-top: 10px;
}